/*****************************
* cms login section
******************************/

#page-forgetpassword {

    #header-links > a,
    #ctl00_ctl00_mainContent_bodyContentPlaceHolder_trAlternate,
    #ctl00_ctl00_mainContent_bodyContentPlaceHolder_trUserName {
        display: none;
    }

    #article-content {
        width: 825px;
        margin: 0 auto;
    }
    input[type=submit] {
        margin-left: 30px;
    }

}

#page-sessionexpired {

    #article-content {
        width: 825px;
        margin: 0 auto;
        padding: 0;
    }

    #header-links > a {
        display: none;
    }

    #buttons {
        display: flex;
        justify-content: space-between;
        .button {
            padding: 15px 30px;
            font-size: 18px;
            border-radius: 2px;
            text-transform: uppercase;
            background: $dark-blue;
            color: #fff;
            text-align: center;
            line-height: 18px;
            &.login,
            &.mainsite {
                line-height: 34px;
            }
            &:hover {
              background: #f45544;
            }
        }
    }
}
