/*****************************
* Donate section
******************************/
#page-donate {
    background: url(../img/donate-bg.png) repeat-x top center #fff;

    #aside-content {
        display: none;
    }

    #header-links {
        a {
            display: none;
        }

    }

    #main-container {
        background: transparent;
    }

    #main-container .h3Donate {
        display: none;
    }

    input[type="checkbox"] {
        display: none;
    }

    input[type=checkbox]:checked + label:before {
        content: "";
        display: block;
        background-image: url(../img/check.png);
        background-size: cover;
        background-repeat: none;
        color: $dark-blue;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
        font-size: 30px;
        text-align: center;
        line-height: 11px;
    }

    input[type=checkbox] + label:before {
        content: "";
        width: 20px;
        height: 20px;
        border: 2px solid $dark-blue;
        display: inline-block;
        float: left;
        margin-right: 0.5rem;
        margin-bottom: 0.5rem;
        background: #fff;
        box-sizing: border-box;
    }

    #article-content {
        padding: 0;
        margin: 0;

        table:first-of-type {
            td[align="left"] {
              text-align: center;
                h2 {
                    text-align: center;
                    margin-bottom: 0;
                    border-bottom: 2px solid $red;
                    padding-bottom: 7px;
                    display: inline-block;

                    span {
                        color: $red;
                    }

                }

            }

        }

    }

    p.description {
        max-width: 650px;
        text-align: center;
        margin: 0 auto;
        line-height: 2;
        font-size: 18px;
        padding-bottom: 40px;
    }

    #ctl00_ctl00_mainContent_bodyContentPlaceHolder_lblMakePersonalDonation {
        padding-right: 20px;
    }

    #ctl00_ctl00_mainContent_bodyContentPlaceHolder_nameInputControl_nameInput {
        padding: 0;
    }

    .note {
        .req {
            display: none;
        }

        margin: 40px 0;
        text-align: center;
        font-size: 30px;
        font-family: $thorn-bold;
    }

    td,
    th {
        padding: 10px 0;
    }

    th {
        width: 300px;
    }

    br {
        display: none;

        &.br {
            display: block;
        }

    }

    // center form elements
    #ctl00_ctl00_mainContent_bodyContentPlaceHolder_trDonorListingNameConsent,
    #ctl00_ctl00_mainContent_bodyContentPlaceHolder_trDonorListingAmountConsent,
    #divPersonalDonation,
    #divOrganizationDonation,
    #suggested-amounts + h2,
    fieldset,
    #ctl00_ctl00_mainContent_bodyContentPlaceHolder_lblContactCaption,
    #ctl00_ctl00_mainContent_bodyContentPlaceHolder_contactInfoControl_pnlContactInfo + table,
    .pagegroup {
        width: 650px;
        display: block;
        margin: 0 auto;
    }

    // set width of inputs
    input[type="text"] {
        width: 289px;
    }

    // selects
    #ctl00_ctl00_mainContent_bodyContentPlaceHolder_contactInfoControl_ddlCountry,
    #ctl00_ctl00_mainContent_bodyContentPlaceHolder_paymentControl_ddlCreditCardType0,
    #ctl00_ctl00_mainContent_bodyContentPlaceHolder_contactInfoControl_ddlAUProvince,
    #ctl00_ctl00_mainContent_bodyContentPlaceHolder_nameInputControl_ddlTitle {
        width: 303px !important;
        height: 37px;
    }

    // price points
    #trAmount {
        display: block;
        padding-bottom: 80px;
    }

    #trAmount th {
        display: none;
    }

    #trAmount td {
        width: 995px;
        padding: 0;
        display: block;
    }

    .suggestedContentAmountRow {
        float: left;
        .label-wrapper {
            vertical-align: top;
            padding-top: 203px;
            margin-left: 0;
            width: 315px;
            display: block;
            float: left;
            cursor: pointer;
            background-size: contain;
            background-repeat: no-repeat;
            position: relative;
            min-height: 130px;

            &.active {
                outline: 2px solid $dark-blue;
            }

            label {
                display: block;
                padding: 20px 30px;
                cursor: pointer;
                line-height: 26px;
                font-size: 18px;
            }

        }

        .label {
            padding: 10px 20px;
            font-size: 30px;
            color: $dark-blue;
            background: #fff;
            font-family: $thorn-bold;
            position: absolute;;
            top: 150px;
            display: inline-block;
        }

        input[type=radio] {
            position: absolute;
            left: -1000px;
        }

        &:nth-child(1) {
            .label-wrapper {
                background-image: url(../img/60.jpg);
                background-color: #fff;
            }

        }

        &:nth-child(2) {
            .label-wrapper {
                background-image: url(../img/100.jpg);
                background-color: #fff;
                margin: 0 25px;
            }

        }

        &:nth-child(3) {
            .label-wrapper {
                background-image: url(../img/200.jpg);
                background-color: #fff;
            }

        }

    }

    // opt ins
    #ctl00_ctl00_mainContent_bodyContentPlaceHolder_trDonorListingAmountConsent {
        border-bottom: 4px solid #eceeef;
        padding-bottom: 70px;
        margin-bottom: 70px;
    }

    #divrdbOtherAmount {
        margin: 30px 0;
        padding: 23px;
        clear: both;
        text-align: center;

        input[type=radio] {
            position: absolute;
            left: -1000px;
        }

    }

    .rdbOtherAmount {
        float: none !important;
        margin-bottom: 10px;
        display: inline-block;
        margin-top: 38px;
        label {
          font-weight: bold;
        }
    }

    #ucDonationAmount {
        float: none;
        clear: both;
    }

    #ctl00_ctl00_mainContent_bodyContentPlaceHolder_paymentControl_ucDonationAmount_tbCustomDonationAmount {
        float: none;
        width: 163px;
        margin-right: 3px;
        height: 40px;
        width: 190px;
        font-size: 22px;
    }

    span.currency-symbol {
        font-size: 32px;
        line-height: 32px;
        padding-right: 8px;
        position: relative;
        top: 2px;
    }

    span.decimals {
        font-size: 32px;
        line-height: 32px;
        position: relative;
        top: 2px;
        color: $dark-blue;
    }

    #suggested-amounts + h2 {
        margin-bottom: 30px;
        text-transform: none;
        font-family: $thorn-bold;
        font-size: 30px;
        font-weight: normal;
    }

    fieldset {
        border-bottom: 4px solid #eceeef !important;
        padding-bottom: 70px;
        margin-bottom: 70px;

        table {
            margin: 0;
        }

    }

    // personal / org donation
    #ctl00_ctl00_mainContent_bodyContentPlaceHolder_rdbDonorPerson,
    #ctl00_ctl00_mainContent_bodyContentPlaceHolder_rdbDonorOrganization {
        position: absolute;
        left: -10000px;
    }

    #ctl00_ctl00_mainContent_bodyContentPlaceHolder_lblMakePersonalDonation,
    #ctl00_ctl00_mainContent_bodyContentPlaceHolder_lblMakeOrganizationDonation {
        display: inline-block;
        border: 2px solid #eceeef;
        padding: 10px 20px;
        background: #FBFCFC;
        cursor: pointer;

        &.active,
        &:hover {
            border-color: $dark-blue;
            color: $dark-blue;
        }

    }

    #divPersonalDonation,
    #divOrganizationDonation {
        margin-top: 20px;
        display: none;
    }

    #ctl00_ctl00_mainContent_bodyContentPlaceHolder_trDonorListingAmountConsent td,
    #ctl00_ctl00_mainContent_bodyContentPlaceHolder_trDonorListingNameConsent td {
        padding: 0;
    }

    #ctl00_ctl00_mainContent_bodyContentPlaceHolder_pnlDisplayNameSection {
        margin-top: 20px;
    }

    #ctl00_ctl00_mainContent_bodyContentPlaceHolder_lblContactCaption,
    #ctl00_ctl00_mainContent_bodyContentPlaceHolder_paymentControl_paymentCaption h3 {
        color: $dark-blue;
        font-size: 30px;
        font-family: $thorn-bold;
    }

    // billing address
    .billing-address {
        border-top: 4px solid #eceeef;

        h2 {
            margin-top: 60px;
            text-transform: none;
            font-size: 30px;
            font-family: $thorn-bold;
            font-weight: normal;
        }

    }

    p.small {
        font-size: 12px;
    }

    .h70 {
        height: 70px;
    }

    // payment details
    #ctl00_ctl00_mainContent_bodyContentPlaceHolder_paymentControl_paymentCaption {
        border-top: 4px solid #eceeef;
        margin-top: 60px;
        padding-top: 60px;

        h3 {
            margin-top: 0;
        }

    }

    #tbodyCC {
        display: none;
    }

    #trCreditCardType {
        display: none;
    }

    #tbodyPayPalExpressCheckout {
        display: none !important;
    }

    // submit button
    input[name="ctl00$ctl00$mainContent$bodyContentPlaceHolder$btnProceed"] {
        margin-left: 173px;
        padding: 15px 30px;
    }

    // norton secued image
    img[name="seal"] {
        position: relative;
        top: 80px;
    }

    // clean up some elements
    .req[style="visibility: hidden;"],
    hr.ns4 {
        display: none;
    }

    // hide dispaly name option
    #ctl00_ctl00_mainContent_bodyContentPlaceHolder_pnlDisplayNameSection {
        display: none !important;
    }

    #error {
        width: 650px;
        margin: 0px auto 40px auto;
        border: 4px solid $dark-blue;
        padding: 20px;
        background: #f2f2f2;
        color: $red;
        position: absolute;
        z-index: 500;
        left: 50%;
        margin-left: -325px;
        top: 50px;
        box-shadow: 0 0 30px #000;

        p {
            color: $red;
        }

        #close {
            float: right;
            width: 30px;
            height: 30px;
            margin-top: -35px;
            margin-right: -35px;
            border-radius: 50%;
            cursor: pointer;
            background: #FFF;
            border: 2px solid $red;
            font-size: 22px;
            text-align: center;
            font-weight: bold;
            line-height: 29px;
        }

    }

}


// card types
.card-type {
    text-indent: -9000px;
    border: 2px solid #eceeef;
    border-radius: 2px;
    width: 64px;
    float: left;
    margin-right: 15px;
    height: 40px;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: 50% !important;
    box-sizing: border-box;
    cursor: pointer;

    &.visa {
        background: url(../img/card-visa.png);
    }

    &.mastercard {
        background: url(../img/card-mastercard.png);
    }

    &.amex {
        background: url(../img/card-ae.png);
    }

    &.paypal {
        background: url(../img/card-paypal.png);
        margin-right: 0;
    }

    &.active {
        border-color: $dark-blue;
    }

}


#donate-side-pic {
    float: right;
    width: 310px;
    height: 310px;
    img {
      width: 310px;
      height: 310px;
    }
}

#bubble span {
    font-size: 12px;
}

#page-donateconfirm {
    #aside-content {
        display: none;
    }

    #header-links > a {
        display: none;
    }

    #article-content {
        padding: 0;
        width: 825px;
        margin: 0 auto;

        table:nth-of-type(2) {
            border-top: 4px solid #eceeef;
            border-bottom: 4px solid #eceeef;
            margin: 70px 0;
            padding: 70px 0;
            display: block;

            th label {
                width: 300px;
                display: block;
            }
            th {
                padding: 0;
                vertical-align: top;
            }
            td {
                padding: 0 0 5px 0;
                vertical-align: top;

                br {
                    display: block;
                }

            }

        }

    }


    #ctl00_ctl00_mainContent_bodyContentPlaceHolder_litPageTitleSponsor {

        span {
            color: $dark-blue;
        }

    }

    br,
    hr.ns4 {
        display: none;
    }

    #ctl00_ctl00_mainContent_bodyContentPlaceHolder_btnCancel {
        background: #f2f2f2;
        color: $dark-blue;
        margin-right: 15px;
    }

}

#page-donatethankyou {
    #aside-content {
        display: none;
    }

    #header-links > a {
        display: none;
    }

    #article-content {
        padding: 0;
        width: 435px;
        margin: 0 0 0 100px;
        float: left;
    }

    h2 {
        span {
            color: $dark-blue;
        }
    }

    #main-container .addthis_toolbox {
      display: block;
    }

    #inputContainer {
        background: #F2F2F2;
        padding: 40px 30px;
        margin-top: 30px;
        margin-bottom: 20px;

        table {
            tr {
                td:nth-of-type(1) {
                    width: 360px;
                }

            }

            h4 {
                margin: 0 0 20px 0;
                font-family: $thorn-bold;
                font-weight: normal;
                font-size: 18px;
            }

            .req {
                display: none;
            }

            textarea {
                width: 360px;
                resize: none;
                margin-bottom: 10px;
            }

            input[type="text"] {
                width: 360px;
            }

            input[type="submit"] {
                position: relative;
                top: -11px;
                left: 20px;
            }

            .counter-container {
                font-size: 12px;
            }

        }

    }

    #ctl00_ctl00_mainContent_bodyContentPlaceHolder_cmdSubmitMessage {
        margin-top: 20px;
        margin-left: 3px;
    }

}

#page-wait {

    #header-links > a {
        display: none;
    }

    #article-content {
        padding: 0;
        width: 825px;
        margin: 0 auto;
    }

}
