/*****************************
* Fundraising section
******************************/
#divPerformanceWrapper {
    border: 0
}

.performance-and-progress-wrapper .performance-wrapper {
  margin-right: 270px;
}

.performance-and-progress-wrapper .performance-wrapper .performance-container:nth-child(odd) {
    background: $light-grey;
}

.performance-and-progress-wrapper .performance-wrapper .performance-container:nth-child(even) {
    background: #fff;
}

.performance-value input {
    font-size: 12px;
    background: #fff;
    border: 1px solid $dark-grey;
    padding: 5px;
}

.personalization-wrapper {
    border: 0;
    background: $light-grey;
}

.personalization-wrapper .personalization-container {
    margin-bottom: 20px;
}

.personalization-wrapper .personalization-container .personalization-value.personalization-ckeditor,
.main-table,
.main-table tbody td,
.main-table th,
table.list,
table.list th,
table.list td.header,
table.list td {
    border: 0
}

table.list td {
    text-align: left;
    font-weight: normal;
    vertical-align: top;
}

.charity-message-title,
.media-manager-heading,
.main-table thead tr:first-child,
table.list thead tr:first-child,
table.list tr:first-child th,
table.list td.header {
    background: $dark-grey;
    color: #FFF;
}

.main-table th,
table.list th,
table.list td.header {
    text-shadow: none;
}

th,
td {
    vertical-align: middle;
}

.solicitation-report-container .solicitation-report-legend {
    margin: 0;
    width: 100%;
    margin-top: 20px;
}

.main-table tr:nth-child(2n+1),
table.list tr:nth-child(odd) {
    background: $light-grey;
}

.main-table tr:nth-child(even),
table.list tr:nth-child(even) {
    background-color: #fff;
}

#frame-facebook-share-wrapper {
    width: 650px;
    margin: 50px 0 0 0;
}


.coaching-tip .coaching-tip-body {
    margin: 0;
    padding: 0;
    float: left;
    height: 95px;
}

.coaching-tip {
    border: 0;
    background: $mid-grey;
    padding: 10px;
}

.coaching-tip .coaching-tip-body .coaching-tip-message {
    float: left;
    margin-right: 0 !important;
    width: 300px;
    height: 75px;
    padding-top: 20px;
}

.coaching-tip .coaching-tip-prefix {
    font-size: 18px;
    background: url(../img/tip.png) no-repeat;
    background-size: 84px;
    background-position: 50%;
    width: 95px;
    height: 95px;
    text-align: center;
    line-height: 100px;
    padding: 0;
    margin: 0 20px 0 0;
    border: 0;
    color: $red;
    .pictos {
        display: none;
    }
}

.coaching-tip .coaching-tip-body .coaching-tip-action {
    position: static;
    float: right;
    height: 95px;
    line-height: 95px;
    padding-left: 20px;
    width: 240px;
    text-align: right;

    a {
        padding: 15px 35px;
        color: #FFF;
        background: $dark-blue;
        border-radius: 0;
        display: inline-block;
        line-height: 20px;
        text-align: center;
        &:hover {
          background: #f45544;
        }
    }
}

.add-new-video {
    display: none !important;
}

#ctl00_ctl00_mainContent_bodyContentPlaceHolder_ucPerformanceTeam_labelTeamPledgedAmountValue,
#ctl00_ctl00_mainContent_bodyContentPlaceHolder_ucPerformanceTeam_labelTeamSponsorsCountPledgeValue,
#ctl00_ctl00_mainContent_bodyContentPlaceHolder_ucPerformanceTeam_labelDirectTeamTotalAmountRaisedPledgeValue,
#ctl00_ctl00_mainContent_bodyContentPlaceHolder_ucPerformanceTeam_labelDirectTeamSponsorsCountPledgeValue,
#ctl00_ctl00_mainContent_bodyContentPlaceHolder_ucPerformanceParticipant_labelPledgedAmountValue,
#ctl00_ctl00_mainContent_bodyContentPlaceHolder_ucPerformance_labelTeamPledgedAmountValue,
#ctl00_ctl00_mainContent_bodyContentPlaceHolder_ucPerformance_labelDirectTeamTotalAmountRaisedPledgeValue,
#ctl00_ctl00_mainContent_bodyContentPlaceHolder_ucPerformance_labelTeamSponsorsCountPledgeValue,
#ctl00_ctl00_mainContent_bodyContentPlaceHolder_ucPerformance_labelDirectTeamSponsorsCountPledgeValue,
#ctl00_ctl00_mainContent_bodyContentPlaceHolder_ucPerformanceParticipant_labelSponsorsCountPledgeValue {
  display: block;
  font-size: 0.8em;
}

#page-checkresults {

  #ctl00_ctl00_mainContent_bodyContentPlaceHolder_sectionFacebookShare {
    display: none;
  }

}

#contactsTrigger {
  background: url(../img/address_book.png) no-repeat;
  background-size: cover;
  width: 126px;
  height: 27px;
  display: block;
}

#page-solicitothers {
  #ctl00_ctl00_mainContent_bodyContentPlaceHolder_snsWidget_divAddThis {
    .addthis_toolbox {
      display: block;
    }
  }
  #ctl00_ctl00_mainContent_bodyContentPlaceHolder_divFacebookShare {
    display: none;
  }
}

#page-solicited {
}

#page-managesponsors {

    .aside-thermometer {
        .gauge {
            background: $dark-grey;
            float: right;
            margin-top: 0;
        }
    }
}

#page-offlinedonation {
}

#page-selfsponsor {


    table {
        width: 100%;
    }

    #price-points {
        border-collapse: separate;
        border-spacing: 10px;

        td {
            width: 30%;
            padding: 0;
            vertical-align: top;
            cursor: pointer;
            background-size: contain;
            background-repeat: no-repeat;
            padding-top: 130px;
            position: relative;
            font-size: 15px;

            &.active {
                outline: 2px solid $dark-blue;
            }
            &.spacer {
                width: 1%;
            }
            &:nth-of-type(1) {
                background-image: url(../img/60.jpg);
                background-color: $light-grey;
            }
            &:nth-of-type(3) {
                background-image: url(../img/100.jpg);
                background-color: $light-grey;
            }
            &:nth-of-type(5) {
                background-image: url(../img/200.jpg);
                background-color: $light-grey;
            }
            &#choose-amount {
                background: none;
                padding: 0;
                text-align: center;
                padding: 20px 0;
            }
            .label {
                position: absolute;
                top: 105px;
                padding: 4px 20px;
                background: $light-grey;
                font-size: 20px;
                color: $dark-blue;
                font-family: $thorn-bold;
            }
            label {
                cursor: pointer;
                padding: 15px;
                display: block;
            }
        }
    }

    .own-amount > div {
        display: inline;
    }

    #error {
        width: 650px;
        margin: 0px auto 40px auto;
        border: 4px solid $dark-blue;
        padding: 20px;
        background: #f2f2f2;
        color: $dark-blue;

        p {
            color: $dark-blue;
        }
    }

    #tbodyCC,
    #trAmount,
    #tbodyPayPalExpressCheckout,
    #trCreditCardType,
    .ns4 {
        display: none;
    }

    #ctl00_ctl00_mainContent_bodyContentPlaceHolder_paymentControl_paymentCaption {
        border-top: 4px solid #eceeef;
        margin-top: 30px;
        padding-top: 20px;
    }

}

#page-tellafriend {
}
