/*****************************
* Fundraising pages
******************************/
#page-fundraisingpage {
    #amount-raised-container {
        height: 130px !important;
    }

}

#page-teamfundraisingpage {
    #team-members {
        display: none;
    }
    #additionalContentArea {
        h3 {
            font-size: 24px;
        }
    }
    .captain-label {
        color: $red;
        font-size: 12px;
        background: url(../img/captain-star.png) no-repeat;
        background-size: 15px;
        padding-left: 15px;
    }
    #ctl00_ctl00_mainContent_bodyContentPlaceHolder_buttonJoinTeam {
        display: none !important;
    }
}

.team-member {
    margin-bottom: 15px;
    display: block !important;
}

#page-corporateteamfundraisingpage {
    #team-members-list-container {
        display: none;
    }
    .captain-labelA {
        color: $red;
        font-size: 12px;
        background: url(../img/captain-star.png) no-repeat;
        background-size: 15px;
        padding-left: 15px;
    }
    #ctl00_ctl00_mainContent_bodyContentPlaceHolder_buttonJoinTeam {
        margin: 0 auto;
        display: none;
    }
}
#page-corporateteamfundraisingpage,
#page-fundraisingpage,
#page-teamfundraisingpage {

    #header-links > a {
        // display: none;
    }

    h2.italic {
        &.pink,
        span {
            color: $dark-blue;
        }
    }

    .join_team {
        margin-left: 70px;
        font-size: 16px;
    }
    #team-member-template,
    #ctl00_ctl00_mainContent_bodyContentPlaceHolder_ucProgressChart  {
        display: none !important;
    }

    #aside-content {
        display: block;
    }

    #article-content {
        margin-left: 230px;
        width: 720px;
    }

    #article-main-section {
        padding-top: 0;
        clear: both;
        overflow: visible;
    }

    #section-main-content .message-container {
        h2 {
            display: none;
        }

    }

    #article-main-section.has-thermometer #section-main-content {
        margin-right: 325px;
    }

    .supporter-post-message-container {
        display: none;
    }

    .aside-thermometer > table {
        display: none;
    }

    #additionalContentArea {
        #profile-pic-wrapper {
            width: 230px;
            height: 230px;
            margin-bottom: 20px;
        }

        #profile-pic {
            width: 230px;
            height: 230px;
            background-position: top center !important;
            background-size: cover !important;
        }

        h2 {
            text-transform: none;
            font-weight: normal;
            font-size: 24px;
            letter-spacing: 0;
            margin-bottom: 10px;
        }

        #ctl00_ctl00_mainContent_bodyContentPlaceHolder_hyperLinkViewTeamPage {
            padding-top: 2px;
            display: inline-block;
        }

    }

    #main-container {
        margin-top: 40px;
    }

    #message-content {
        p {
            line-height: 1.8;
        }
    }

    #section-main-content .message-container {
        margin-bottom: 70px;
    }

    #event-and-location-info {
        display: none;
    }

    .supporter-post-message-container-header {
        margin-bottom: 0;

        h3 {
            font-size: 24px;
            font-weight: normal;
            margin-bottom: 0;
            font-family: $thorn-bold;
        }

    }

    .supporters-timeline-container {
        padding-top: 15px;
    }

    .timeline-item {
        background: $mid-grey;
        padding: 10px;
        border: 0;
        margin-bottom: 15px;
        max-width: 400px;
        font-size: 14px;

        .photo-mask-empty {
            margin-right: 25px;
            background: url(../img/timeline-donate.png);
            background-size: cover;
        }

        &.message {
            .photo-mask-empty {
                margin-right: 25px;
                background: url(../img/timeline-message.png);
                background-size: cover;
            }

            .supporter-message {
                margin-top: 5px;
                padding-left: 70px;
            }

        }

        .activity-info {
            padding-top: 22px;
        }

        .activity-date {
            display: none;
        }

        .supporter-name {
            span {
                font-weight: normal;
            }

        }

    }

    #supporters-timeline-list-view-more-less {
        .view-all-timeline-items,
        .view-less-timeline-items {
            text-align: center;
            text-transform: uppercase;
            border: 1px solid $dark-blue;
            width: 418px;
            margin-top: 17px;
            padding: 15px 0;
            font-size: 18px;
            display: block;
        }

    }

    .easyPaginateNav {
        width: 420px !important;
        text-align: center;
        margin-top: 20px;

        a {
            margin: 0 5px;
            display: inline-block;
            width: 30px;
            height: 30px;
            line-height: 2;
            font-weight: bold;
            color: $light-grey;

            &.current {
                color: $dark-blue;
                border-radius: 50%;
            }

            &.disabled {
                color: $light-grey;
            }

        }
        #additionalContentArea {
            .easyPaginateNav {
                width: 230px !important;
            }
        }
        .first,
        .last {
            display: none;
        }

        .prev {
            float: left;
            margin-left: 0;
            color: $dark-blue;

            &.disabled {
                color: $light-grey;
            }
        }

        .next {
            float: right;
            margin-right: 0;
            color: $dark-blue;

            &.disabled {
                color: $light-grey;
            }
        }

    }

    .aside-thermometer {
        border: 0;
        padding-bottom: 0;
        margin-bottom: 0;
        width: 260px;
        margin-left: -280px;
        padding-left: 0;
    }

    #aside-content {
        padding-bottom: 0;
        margin-bottom: 0;
        width: 230px;
        font-size: 16px;
        color: $dark-grey;
    }

    #wtmg-wrapper {

        #wtmg-inner {
            max-width: 995px;
            margin: 0 auto;
            padding: 80px 0;

            #wtmg-left {
                width: 40%;
                background: $dark-blue;
                color: #fff;
                padding: 20px;
                box-sizing: border-box;
                h2 {
                  color: #fff;
                }
            }

            #wtmg-right {
                width: 60%;
                background: url(../img/wtmg.jpg) no-repeat;
                background-size: cover;
                img {
                    max-width: 100%;
                }

            }

        }

    }

    .footerContainer {
        margin-top: 0;
    }

    .share-container {
        padding: 5px 57px 20px;
        text-align: center;

        h3 {
            margin: 10px 0;
        }
        .linkedin,
        .twitter,
        .facebook {
            text-indent: -9000px;
            display: block;
            float: left;
            width: 35px;
            height: 35px;
            background-size: contain !important;
            margin-top: 3px;
        }
        .twitter {
            background: url(../img/icon-tw.png) 50% no-repeat;
            margin-right: 15px;
        }
        .facebook {
            background: url(../img/icon-fb.png) 50% no-repeat;
            margin-right: 15px;
        }
        .linkedin {
            background: url(../img/icon-in.png) 50% no-repeat;
        }
    }


}

#fundraising-page-header {
    display: none !important;
}

#fundraising-page-header #amount-raised-container .amount-raised {
    margin: 0;
    font-size: 26px;
}

#ctl00_ctl00_mainContent_bodyContentPlaceHolder_buttonDonate {
    margin: 0 auto 15px;
    display: block;
    width: 180px;
    padding: 15px 10px;
}

.supporters-activity-wrapper .supporters-timeline-container .timeline-item .text-container .activity-date,
#section-main-content #team-members #team-members-list-container #team-members-list .team-member .text-container .team-member-name a {
    color: $dark-blue;
}

.team-member .photo-mask {
    float: left;
    margin-right: 10px;
    img {
        border-radius: 50%;
    }
}

#media-manager-container .anythingSlider-simple {
    background: $dark-grey;
}

#article-main-section {
    padding: 35px 0;
}

#charity-message-container {
    margin: 0;
}
