/*****************************
* Header / Footer
******************************/
footer,
header {
    background: none !important;
}

#header-outer-wrapper {
  background: $dark-blue;
  margin-bottom: 80px;
}

#header-wrapper {
    max-width: 995px;
    margin: 0 auto;
    right: 0;

    #header {
        height: 140px;
        position: relative;
        margin-bottom: 40px;
    }

    #header-links {
        position: absolute;
        right: 0;
        top: 59px;
        width: 600px;
        height: 30px;

        .photo-mask {
            float: left;
            height: 40px;
            margin-top: -8px;
        }

        .profile {
            color: #fff;
            padding-right: 0;
            height: auto;
            line-height: 1.4;

            a {
                color: #fff;
                position: relative;
                float: right;
                padding: 0 14px;
                display: flex;
                color: #fff;
                font-size: 16px;

                &:first-of-type {
                    padding-right: 0;
                }

                .logout-control-text {
                    display: inline;
                    font-size: 16px;
                    font-weight: normal;
                    width: 64px;
                    text-align: right;
                }

                .pictos {
                    display: none;
                }
            }

        }

    }

    .homelink {
        float: left;
        img {
            width: 400px;
            margin-top: 33px;
        }
    }
    #ctl00_ctl00_headerContent_linkButtonRegister,
    #ctl00_ctl00_headerContent_ucSplashLogin_linkButtonSplashLogin {
      display: none;
    }
    // donate
    #ctl00_ctl00_headerContent_linkButtonDonate {
        background: $red;
        padding-top: 10px;
        padding-bottom: 10px !important;
        margin-top: -10px;
        text-transform: uppercase;
        &:hover {
          background: #f45544;
        }
    }
    #ctl00_ctl00_headerContent_linkButtonSearch {
        // padding-right: 0;
    }
    #ctl00_ctl00_headerContent_snsWidget_divFacebookLike {
      display: none;
    }

}

#header .global-header-link,
#header .global-header-link-bold {
    background: none;
    font-weight: normal;
    color: #fff !important;
    border-left: 0;
    line-height: normal;
    padding-bottom: 0 !important;
    height: auto;
    padding: 0 25px;
}

#header .global-header-link-bold {
    color: #fff !important;
}

.homelink {
    float: left;
}

.addthis_toolbox {
    display: none;
}

.footer-wrapper {
    max-width: 995px;
    width: auto;
    margin: 0 auto;
}

.footerContainer {
    background: $dark-blue;
    color: #FFF;
    padding: 50px 0;
    margin-top: 50px;

    .footer-left {
        width: 50%;
        float: left;

        p.copyright {
            font-size: 12px;
            color: #fff;
            margin-top: 30px;
        }

    }

    .footer-right {
        width: 40%;
        float: right;

        img {
            width: 400px;
            margin-top: 0;
        }

    }

}

#footer-nav {
    list-style-image: none;
    padding: 0;
    margin: auto;

    li {
        display: inline-block;
        padding: 0;
        margin: 0;

        a {
            text-transform: uppercase;
            margin-right: 20px;
            color: #FFF;
            font-weight: bold;
        }

    }

}

#footer nav {
    display: none;
}

@media only screen and (min-device-width : 768px) {
  #header {
    padding: 0 20px;
  }
  #header-wrapper #ctl00_ctl00_headerContent_linkButtonDonate,
  #header-wrapper #header-links .profile a {
    margin-right: 20px;
  }
  .footerContainer {
    padding: 50px 20px;
    .footer-right img {
      width: 100%;
      height: auto;
    }
  }
}
