/*****************************
* Home section
******************************/
#page-home {

    #section-page-description h1 {
         color: $dark-blue;
         font-size: 40px;
         text-transform: uppercase;
         font-family: $thorn-bold;
         margin-top: 0;
         margin-bottom: 30px;
    }

    .media-manager-preview-container .anythingSlider-simple .media-manager-item .caption-top {
        margin-top: 32px !important;
    }

    .anythingSlider-simple {
        border-radius: 0 !important;
        box-shadow: none !important;
        border: 0;
    }

    #section-coaching-tip,
    #shortcut-links-container,
    #section-personalization {
        margin-bottom: 50px;
        padding-bottom: 50px;
        border-bottom: 4px solid #eceeef;
    }

    #shortcut-links-container {
        > h3 {
            font-size: 30px;
        }
    }

    #shortcut-links-container .shortcut-link {
        .pictos {
            text-indent: -9000px;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: 50%;
            display: block;
            font-size: 60px;
            margin: 0;
        }
        border: 0;
        background: none;
        color: $dark-blue;
        width: 150px;
        &:hover {
            text-decoration: underline;
        }
    }
    #ctl00_ctl00_mainContent_bodyContentPlaceHolder_hyperLinkRedirectToGetSponsors {
        .pictos {
            background: url(../img/action-get-sponsors.png);
        }
    }
    #ctl00_ctl00_mainContent_bodyContentPlaceHolder_hyperLinkRedirectToMyFundraysing {
        .pictos {
            background: url(../img/action-fr.png);
        }
    }
    #ctl00_ctl00_mainContent_bodyContentPlaceHolder_hyperLinkRedirectToThankSponsors {
        .pictos {
            background: url(../img/action-thank.png);
        }
    }
    #ctl00_ctl00_mainContent_bodyContentPlaceHolder_hyperLinkRedirectToRecruitFriends {
        .pictos {
            background: url(../img/action-recruit.png);
        }
    }

    #profile-pic {
        width: 230px;
        height: 230px;
        background-position: top center !important;
        background-size: cover !important;
    }

    #media-manager-container {
        width: 230px;
        position: static;
        float: left;
    }

    #personal-message-content {
        margin-left: 260px;
    }

    h3.fr-page {
        font-size: 30px;
    }

    #ctl00_ctl00_mainContent_bodyContentPlaceHolder_hyperlinkEditPersonalMessage {
        display: inline-block;
        padding: 15px 35px;
        border: 0;
        border-radius: 0;
        background: $dark-blue;
        color: #fff;
        font-weight: normal;
        &:hover {
          background: #f45544;
        }
    }

}
