/*****************************
* Search pages
******************************/
#mobileindividualandteamsearchpage {
    // hide location filter
    #ctl00_mainContent_divIndividualLocation,
    #ctl00_mainContent_divTeamLocationSearch_Section {
        display: none;
    }
    // hide default team/individual select
    #ctl00_mainContent_searchForTeamOrIndividual > h3,
    #ddlSelectSearchType,
    #divSearchTeamName,
    #drpSearchTeamSelection {
        display: none !important;
    }
    .bucket.search {
        background: $mid-grey;
    }
    #search-toggle {
        margin-top: 20px;
        li {
            display: inline-block;
            padding: 20px;
            background: $dark-grey;
            color: #fff;
            margin-right: 20px;
            &.active {
                background: $mid-grey;
                color: $dark-grey;
            }
        }
    }

}


#mobilesearchresults {
    // hide location details
    ul#team-list {
        li {
            border: 0;
        }
        li:nth-of-type(odd) {
            background: $mid-grey;
        }
        li:nth-of-type(even) {
            background: #fff;
        }
        li a .location:nth-of-type(3) {
            display: none;
        }
    }
    ul#partipant-list {
        li {
            border: 0;
        }
        li:nth-of-type(odd) {
            background: $mid-grey;
        }
        li:nth-of-type(even) {
            background: #fff;
        }
        li a .location {
            display: none;
        }
    }
    .search-result-list li a {
        padding: 15px 20px;
    }
    .controls {
        margin: 20px;
    }
}

h2 span {
    color: $dark-blue;
}

@media only screen and (max-width: 400px) {
    #search-toggle {
        li {
            width: 150px;
            box-sizing: border-box;
            &:nth-of-type(2) {
                margin: 0 !important;
            }
        }
    }
    #ctl00_mainContent_ucMobilePayments_divExpiryDate label {
        display: block;
    }
}

.search-result-list li a {
  background: none;
}
