/*****************************
* Totaliser
******************************/
.thermo {
  position: relative;
  margin-bottom: 20px;
  width: 260px;
  height: 285px;
  margin: 0 auto;
  svg {
    width: 260px;
    height: 285px;
  }
  .goal {
    position: absolute;
    top: 173px;
    left: 0;
    width: 260px;
    text-align: center;
  }
  .raised {
    position: absolute;
    top: 145px;
    left: 0;
    width: 260px;
    text-align: center;
  }
  .percent {
    position: absolute;
    width: 260px;
    font-size: 40px;
    left: 0;
    margin-left: 0;
    top: 60px;
    text-align: center;
    font-family: $thorn-bold;
    span {
      font-size: 60px;
    }
  }
}
#percent-path {
  display: none;
  transition: all 2s cubic-bezier(0.75, -0.16, 0.6, 1.16);
}
