/*****************************
* Mobile fundraising pages
******************************/
#mobilepersonalpage {

}

#mobileteampage {
    .more_link {
        margin: 20px !important;
    }
    #ctl00_mainContent_divMoreDonations + h2,
    #recentActivity + h2 {
        text-transform: none;
        padding: 0;
        font-weight: normal;
        font-size: 30px;
        margin: 20px;
    }
    #ctl00_mainContent_hylDonate {
        margin-bottom: 20px;
    }
}

#mobilepersonalpage,
#mobileteampage {

    #fundraiser {
        position: relative;
        margin-bottom: 20px;


    }

    .more-text-container {
        text-align: center;
        padding: 6px;

        a {
            color: $dark-blue;
            font-size: 20px;
            display: block;
        }

        text-transform: uppercase;
        font-size: 20px;
        border: 2px solid $dark-blue;
        margin: 20px 0;
    }

    #ctl00_mainContent_fundraiserSection {
        margin-bottom: 40px;
        padding-bottom: 40px;
        border-bottom: 4px solid #eceeef;
    }

    #thermometer,
    #statistics {
        display: none;
    }

    #allowFriend {
        padding: 0;
        text-align: left;
        h2 {
            padding: 20px 0;
            text-transform: none;
            font-size: 30px;
            font-weight: normal;
        }
    }

    .button_pagepadding {
        padding: 20px 0;
    }
    #ctl00_mainContent_donateButton {
        padding: 20px;
    }

    #ctl00_mainContent_hylGetSponsors,
    #ctl00_mainContent_hylEditPersonalPage,
    #ctl00_mainContent_hylMyFundraising,
    #ctl00_mainContent_hylMyTeam,
    #ctl00_mainContent_hylEditTeamPage,
    #ctl00_mainContent_hylThankSponsors,
    #ctl00_mainContent_hylSponsorYourself {
        color: $dark-blue;
        border-radius: 0;
        padding: 20px 0 30px 100px;
        width: 100% !important;
        text-align: left !important;
        font-weight: normal;
        .pictos {
            display: none;
        }
    }

    #ctl00_mainContent_hylGetSponsors {
        background: url(../img/action-get-sponsors.png) no-repeat 10px 10px $mid-grey;
        background-size: 90px;
    }
    #ctl00_mainContent_hylEditPersonalPage,
    #ctl00_mainContent_hylMyFundraising {
        background: url(../img/action-fr.png) no-repeat 10px 10px $mid-grey;
        background-size: 90px;
    }
    #ctl00_mainContent_hylMyTeam,
    #ctl00_mainContent_hylEditTeamPage {
        background: url(../img/action-recruit.png) no-repeat 10px 10px $mid-grey;
        background-size: 80px;
    }
    #ctl00_mainContent_hylSponsorYourself {
        background: url(../img/action-thank.png) no-repeat 10px 10px $mid-grey;
        background-size: 90px;
    }
    #ctl00_mainContent_hylThankSponsors {
        background: url(../img/action-thank.png) no-repeat 10px 10px $mid-grey;
        background-size: 90px;
    }

    .share-container {
        padding: 20px;
        margin-top: -1px;

        h3 {
            margin: 0 10px 0 0;
            padding: 0;
        }

        .linkedin,
        .twitter,
        .facebook {
            text-indent: -9000px;
            display: block;
            float: left;
            width: 40px;
            height: 40px;
            background-size: contain !important;
            margin-top: 9px;
        }

        .twitter {
            background: url(../img/icon-tw.png) 50% no-repeat;
            margin-right: 10px;
        }

        .facebook {
            background: url(../img/icon-fb.png) 50% no-repeat;
            margin-right: 10px;
        }

        .linkedin {
            background: url(../img/icon-in.png) 50% no-repeat;
            margin-right: 10px;
        }

    }

    #recentActivity {
        padding: 0 20px;

        h2 {
            font-family: $thorn-bold;
            text-transform: none;
            padding: 0;
            margin-bottom: 20px;
            font-weight: normal;
            font-size: 30px;
        }

        .message {
            background: url(../img/timeline-donate.png) no-repeat $mid-grey 10px 10px;
            background-size: 40px;
            border: 0;
            padding: 10px 10px 10px 60px;
            margin-bottom: 15px;
            font-size: 14px;
            em {
              margin: 10px 0;
              display: block;
            }
        }
    }

        .more_link {
            a {
                color: $dark-blue;
                display: block;
            }

            text-transform: uppercase;
            font-size: 20px;
            border: 2px solid $dark-blue;
            margin: 20px 0;
            padding: 6px;
            font-weight: normal;

        }


    #wtmg-wrapper {
        background: $dark-blue;
        margin: 40px 0;
        position: relative;

        #wtmg-inner {
            padding: 20px 20px 50px;

            h2 {
                padding: 0 0 10px 0;
                text-transform: none;
                background: none;
                font-size: 30px;
                font-weight: normal;
                color: #fff;
            }
            #wtmg-copy {
                p {
                  color: #fff;
                }
                a {
                    margin: 20px 0;
                    display: block;
                    color: $red;
                }
            }
            #wtmg-img {
                img {
                    max-width: 100%;
                    margin-bottom: 20px;
                }

            }

        }

    }

}

.field {
    margin-bottom: 20px;
}
.field .input_textbox + .input_textbox {
    margin-top: 15px;
}

#mobileprofileedit,
#mobileteamprofileedit {

    #updateTheRestInstructions {
        margin: 20px;
    }
}

// style messages
.message-bubble {
    background: $mid-grey !important;
    margin: 20px;
    padding: 20px;
    .bucket {
        padding: 0;
        background: none !important;
        strong {
            display: block;
            margin-bottom: 15px;
        }
    }
    .date {
        color: $dark-blue;
        margin-top: 15px;
        a {
            color: $dark-blue;
        }
    }
}

#mobiledonateconfirm {
    h2#personal,
    h2#payment {
        border-top: 4px solid #eceeef;
        margin-top: 30px;
        padding-top: 30px;
        h3 {
            padding: 0;
            text-transform: none;
        }
    }
    h2#payment {
        margin-top: 10px;
    }
    .controls {
        .right {
            float: none;
            #ctl00_mainContent_btnDonate {
                width: 100% !important;
                margin-bottom: 20px;
            }
        }
        #ctl00_mainContent_btnBack {
            width: 100% !important;
            background: $mid-grey;
            color: $dark-grey;
        }
    }
}


.mm-menu .mm-listview > li.mm-selected > a:not(.mm-next),
.mm-menu .mm-listview > li.mm-selected > span {
  background: none;
}

.mb20 {
  margin-bottom: 20px;
}
