/*****************************
* Mobile donate
******************************/
#mobiledonate {

    div.error-notice  {
        background: $dark-blue;
    }
    // hide amount input
    #ctl00_mainContent_amountEdit {
        display: none;
    }

    #ctl00_mainContent_divPageHeadersSection + h2 {
        display: none;
    }

    #pp-wrapper {
        margin: 20px 0;
        padding: 20px 0 40px 0;
        border-top: 4px solid #eceeef;
        border-bottom: 4px solid #eceeef;
    }

    #price-points {
        margin: 0 20px;
        padding: 20px;
        background: $mid-grey;

        .left {
            width: 40%;
        }
        .right {
            width: 60%;
            .inner {
                text-align: right;
            }
        }

        .buttons {
            padding-bottom: 20px;
            display: flex;
            justify-content: space-between;

            a {
                background: #fff;
                color: $dark-blue;
                padding: 10px 15px;
                border-radius: 0;
                border: 2px solid $dark-blue;
                &.active {
                    background: $dark-blue;
                    color: #fff;
                }
            }
        }

        #own-amount {
            height: 40px;
            width: 70%;
            display: inline;
            background: url(../img/decimals.png) #fff;
            background-repeat: no-repeat;
            background-position: right 50%;
            background-size: 31px;
        }

        .currency-symbol {
            display: inline;
        }

    }

    #ctl00_mainContent_titleSection {
        label {
            display: none;
        }
    }

    div[style="margin-bottom: 10px"] {
        display: none;
    }

    #divAdditionalQuestions {
        margin: 30px 0;
        padding: 20px 0;
        border-top: 4px solid #eceeef;
        border-bottom: 4px solid #eceeef;
    }

    h2#payment,
    #ctl00_mainContent_divlitPersonalInformation {
        display: none;
    }

    // hide cc fields
    #ctl00_mainContent_ucMobilePayments_panelCreditCard,
    #ctl00_mainContent_payPalExpressCheckout,
    #ctl00_mainContent_divPaymentInformation
    {
        display: none;
    }

    // card types
    #cardtype {
        display: flex;
        justify-content: space-between;
        padding: 20px;

        .card-type {
            text-indent: -9000px;
            border: 2px solid #eceeef;
            border-radius: 2px;
            width: 64px;
            float: left;
            margin-right: 15px;
            height: 40px;
            background-size: contain !important;
            background-repeat: no-repeat !important;
            background-position: 50% !important;
            box-sizing: border-box;
            cursor: pointer;

            &.visa {
                background: url(../img/card-visa.png);
            }

            &.mastercard {
                background: url(../img/card-mastercard.png);
            }

            &.amex {
                background: url(../img/card-ae.png);
            }

            &.paypal {
                background: url(../img/card-paypal.png);
                margin-right: 0;
            }

            &.active {
                border-color: $dark-blue;
            }

        }
    }

    #divControls {
        .right,
        .left {
            float: none;
        }
        input[type="submit"] {
            width: 100%;
            margin-bottom: 20px;
        }
    }
    #ctl00_mainContent_commandContactCancel {
        background: $light-grey;
        color: $dark-grey;
    }

}

// hide standard donate link
#ctl00_hylDonateTab {
    display: none;
}
