/*****************************
* Profile section
******************************/
#page-usercontactinfo {
  // hide corporate affliation
  #ctl00_ctl00_mainContent_bodyContentPlaceHolder_htmlTableRowCorporateTeamDropDownList,
  #ctl00_ctl00_mainContent_bodyContentPlaceHolder_chkSearchConsent,
    #ctl00_ctl00_mainContent_bodyContentPlaceHolder_chkSearchConsent,
    label[for="ctl00_ctl00_mainContent_bodyContentPlaceHolder_chkSearchConsent"] {
        display: none;
    }
}

#page-newpassword {

    // hide username as it is email address
    #ctl00_ctl00_mainContent_bodyContentPlaceHolder_lblUserID,
    #ctl00_ctl00_mainContent_bodyContentPlaceHolder_lblUserIDDisplay {
        display: none;
    }
}
