#page-search {

    #header-links > a {
        display: none;
    }

    #aside-content {
        display: none;
    }

    #article-content {
        padding: 0;
        width: 825px;
        margin: 0 auto;
        overflow: visible;
        margin-bottom: 120px;
    }

    h2.header span {
        color: $dark-blue;
    }

    #eui .ui-tabs-panel {
        font-size: 16px;
        padding: 50px 30px;
    }

    .enhancedSearch_tabs {
        border: 0;

        .ui-tabs-nav-item {
            border: 0;
            margin-right: 15px;

            a {
                background: $dark-grey;
                color: #FFF;
                padding: 20px 30px;
            }

        }

        .ui-tabs-selected {
            a {
                background: $mid-grey;
                color: $dark-grey;
            }

        }

    }

    #individualSearch,
    #teamSearch {
        background: $mid-grey;
        border: 0;
        .instructionalText {
            width: 550px;
        }
    }

    #individualSearch > br {
        display: none;
    }

    #individualPageName,
    #pageandlocationinstructions {
        display: none;
    }

    #individual-options {
        float: left;
        margin-right: 20px;
    }

    .enchancedSearch input.text {
        border-radius: 0;
        border: 2px solid #eceeef;
        padding: 5px;
        background: #FBFCFC;
        margin: 0;
    }

    .enchancedSearch label.overlabel-apply {
        display: none;
    }

    #teamLocation,
    #individualLocation {
        display: none;
    }

    .individualSearchName_label.largeLabel,
    .individualSearchPageName_label.largeLabel,
    #ctl00_ctl00_mainContent_bodyContentPlaceHolder_drpSearchTeamSelection {
        display: inline-block;
        float: left;
        margin-right: 20px;
    }

    #teamNameSearch_form + div.clear,
    #ctl00_ctl00_mainContent_bodyContentPlaceHolder_divTeamPageNamForm + div.clear {
        display: none;
    }

    #teamCaptainSearch_form + br {
        display: none;
    }

    #individualSearchFirstName_ctl,
    #individualSearchLastName_ctl,
    #teamCaptainSearchFirstName_ctl,
    #teamCaptainSearchLastName_ctl {
        width: 250px;
    }

    #teamCaptainSearch_form {

    }

    .stripey {
        border: 0;
        margin-top: 50px;
    }

    .stripey th {
        background-color: #FFF;
        padding: 20px;
        color: $dark-grey;
        font-weight: bold;
    }

    .stripey td {
        padding: 20px;
    }

    .stripey tr {
        background-color: #f4f5f5;
    }

    .stripey tr a {
        color: $dark-blue;
    }

    .stripey .odd {
        background-color: #fff;
    }

    .individualSearchResults tr th:nth-of-type(4),
    .individualSearchResults tr td:nth-of-type(4) {
      display: none;
    }

    .teamSearchResults tr th:nth-of-type(5),
    .teamSearchResults tr td:nth-of-type(5) {
      display: none;
    }


}
