
/*****************************
* Team section
******************************/
#page-teamresults {


    .aside-thermometer {
        .gauge {
            background: $dark-grey;
            float: right;
            margin-top: 0;
        }
    }


}

#page-solicitteammembers {
    #ctl00_ctl00_mainContent_bodyContentPlaceHolder_snsWidget_divAddThis {
        .addthis_toolbox {
            display: block;
        }
    }
    #contactsTrigger {
        background: url(../img/address_book.png) no-repeat;
        background-size: cover;
        width: 126px;
        height: 27px;
        display: block;
    }
}

#page-teamsendemail {

}

#page-teamedit {

    #ctl00_ctl00_mainContent_bodyContentPlaceHolder_manageTeamDetailsControl_ckboxTeamIsSearchable,
    #ctl00_ctl00_mainContent_bodyContentPlaceHolder_manageTeamDetailsControl_ckboxTeamIsSearchable + label {
        display: none;
    }
}

#page-manageteamsponsors {

    .aside-thermometer {
        .gauge {
            background: $dark-grey;
            float: right;
            margin-top: 0;
        }
    }
}

#page-teamofflinedonation {

}

#page-teamsolicited {

}

#page-teammessageboard {

}

#page-teammessagecomment {
    #ctl00_ctl00_mainContent_bodyContentPlaceHolder_buttonMessageBoard {
        margin-right: 30px;
    }
}

#page-teamcaptainreport {

}


#page-teamoptions {

}

#page-teamcreate {
  // hide team name on leaderboard question
  label[for="ctl00_ctl00_mainContent_bodyContentPlaceHolder_manageTeamDetailsControl_ckboxScoreBoardConsent"],
  #ctl00_ctl00_mainContent_bodyContentPlaceHolder_manageTeamDetailsControl_ckboxScoreBoardConsent {
    display: none;
  }
}

#page-corporateteamfundraisingpage {
    #header-links > a {
        display: none;
    }
}

#page-corporateteamresults {
    .aside-thermometer .gauge {
        background: #465660;
        float: right;
        margin-top: 0;
    }
    #supporter-post-message-timeline-message,
    #supporter-post-message-timeline-author {
        display: none;
    }
}
