/**************************************************************************
* VARIABLES
**************************************************************************/
$dark-blue: #2a3588;
$light-grey: #f6f6f6;
$mid-grey: #f2f3f4;
$dark-grey: #465660;
$red: #f12b15;

$thorn: 'Thorndale';
$thorn-bold: 'Thorndale-Bold';
