/*****************************
* IE 9 styles
******************************/
body.ie9 {

    // Donate page
    &#page-donate {

        #ctl00_ctl00_mainContent_bodyContentPlaceHolder_trDonorListingNameConsent {
            td {
                padding-top: 40px;
            }
        }
        #ctl00_ctl00_mainContent_bodyContentPlaceHolder_trDonorListingAmountConsent {
            td {
                padding-bottom: 40px;
            }
        }
        #divrdbOtherAmount {
            margin: 60px 0;
        }
        // center form elements
        #ctl00_ctl00_mainContent_bodyContentPlaceHolder_trDonorListingNameConsent,
        #ctl00_ctl00_mainContent_bodyContentPlaceHolder_trDonorListingAmountConsent,
        #divPersonalDonation,
        #divOrganizationDonation,
        div.pagegroup,
        #suggested-amounts + h2,
        fieldset,
        #ctl00_ctl00_mainContent_bodyContentPlaceHolder_lblContactCaption,
        #ctl00_ctl00_mainContent_bodyContentPlaceHolder_contactInfoControl_pnlContactInfo + table {
            width: 995px;
        }
        #suggested-amounts + h2 {
            margin: 30px 0;
        }
        input[name='ctl00$ctl00$mainContent$bodyContentPlaceHolder$btnProceed'] {
            margin-left: 0;
        }


    }




}