@import "variables";
@import "mobile_fundraising";
@import "mobile_donate";
@import "mobile_search";
@import "totaliser";

/**************************************************************************
* PAGE ELEMENTS
**************************************************************************/
@font-face {
  font-family: 'Thorndale';
  src: url('../../fonts/Thorndale.eot?#iefix') format('embedded-opentype'),
       url('../../fonts/Thorndale.woff') format('woff'),
       url('../../fonts/Thorndale.ttf')  format('truetype'),
       url('../../fonts/Thorndale.svg#Thorndale') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Thorndale-Bold';
  src: url('../../fonts/Thorndale-Bold.eot?#iefix') format('embedded-opentype'),
       url('../../fonts/Thorndale-Bold.woff') format('woff'),
       url('../../fonts/Thorndale-Bold.ttf')  format('truetype'),
       url('../../fonts/Thorndale-Bold.svg#Thorndale-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

h2 {
    font-family: $thorn-bold;
    text-transform: uppercase;
    color: $dark-blue;
    font-size: 30px;
    font-weight: normal;
}

.sofia {
    font-family: $thorn-bold;
}

h3 {
    color: $dark-blue;
    padding: 8px 20px;
    font-size: 24px;
    font-family: "Open Sans", Arial, Helvetica;
    font-weight: normal;
    .bucket & {
        padding: 8px 0;
    }
}

body {
    color: $dark-blue;
    font-family: "Open Sans", Arial, Helvetica;
    font-size: 18px !important;
}

p {
    line-height: 1.6;
}

a,
a:visited,
a:hover {
    color: $red;
}

body, select, textarea, input {
    color: $dark-blue;
}

select,
#own-amount,
.input_textbox {
    border-radius: 0;
    border: 2px solid #eceeef;
    padding: 5px;
    background: #FBFCFC;
}

// hide addthis
.share.bucket {
    display: none;
}

.mm-menu > .mm-panel {
    background-color: $dark-blue;
}

#menu {

}
.border-menu:before {
    border: 0;
    content: "";
    display: none;
}

#menuwrapper {
    position: relative;
    height: 0;
    a {
      background-color: transparent;
    }
}

#header {
    padding-top: 0;
    padding-bottom: 20px;
}

#header a.homelink {
    position: static;
    display: inline;
}

a.border-menu {
    width: 35px;
    height: 30px;
    padding: 0;
    display: block;
    position: absolute;
    right: 22px;
    top: 30px;
    background: url(../img/menu.png) no-repeat #fff;
    background-size: contain;
    z-index: 50000;
}

.mm-menu.mm-offcanvas {
    display: none;
}

.mm-menu.mm-current {
    display: block !important;
}

#ctl00_divNavigationMenu {
    display: none;
}

.mm-opened #ctl00_divNavigationMenu {
    display: block;
}

#header {
  background: $dark-blue;
  height: 70px;
  margin-bottom: 30px;
}

.header-wrapper {
    img {
        width: 280px;
        margin-left: 20px;
        margin-top: 20px;
    }

}

.addthis_toolbox {
  display: none;
}

.navigation a:hover,
.navigation a.active {
    background-color: $red;
}

#ctl00_mainContent_btnCancel,
#ctl00_mainContent_btnReset,
button.primary,
input.standard-small-button-ui.primary,
.standard-small-button-ui a.primary,
.standard-button-ui a.primary,
button,
input.standard-small-button-ui,
.standard-small-button-ui a,
.standard-button-ui a,
.location-select,
.registration-type-select {
    background-color: $dark-blue;
    border-color: $dark-blue;
    padding: 15px 35px;
    width: 100% !important;
    color: #FFF;
    box-sizing: border-box;
    text-align: center;
    text-transform: uppercase;
    font-weight: normal;
    font-family: "Open Sans", Arial, Helvetica;
    border-radius: 0;
    &:focus,
    &:active {
      background: #f45544;
    }
}

div.error-notice {
    background: $dark-blue;
    color: #FFF;
}

.button_pagepadding {
    padding: 8px 20px;
}



#ctl00_mainContent_hylLogin {
    margin: 0 0 20px 0;
}

.mobile-footer-wrapper {
    background: $dark-blue;
    margin-top: 40px;

    .footer {
        padding: 40px 20px;

        .footer-img {
            img {
                width: 250px;
            }

        }

        .footer-copy {
            color: #FFF;
            font-size: 13px;
            color: #fff;
            #footer-nav {
                margin: 20px 0;
                a {
                    font-size: 20px;
                    color: #FFF;
                    text-transform: uppercase;
                }
            }
            .image {
              img {
                width: 100%;
                margin-top: 20px;
              }
            }

        }

    }

}





// hide & messageboards and event link
#ctl00_hylEventTab,
#ctl00_hylMessagesTab,
#ctl00_hylTeamMessagesTab {
    display: none;
}

.controls {
    .right {
        float: none;
        margin-bottom: 20px;
        display: block;
    }
    #ctl00_mainContent_btnCancel,
    #ctl00_mainContent_btnCancelTeam {
        background: #CACACA;
        color: $dark-grey;
        border: 0;
    }
}

#mobileeventinfo {

    // hide donate button, date & time info
    #ctl00_mainContent_hylDonate,
    #ctl00_mainContent_divDate,
    #ctl00_mainContent_divTime {
        display: none;
    }
}

#devevent {
    position: fixed;
    background: $red;
    top: 0;
    padding: 2px 10px;
    color: #fff;
    opacity: 0.5;
    z-index: 5000;
}

html.mm-opened #mm-blocker,
html.mm-blocking #mm-blocker {
  box-shadow: 0 0 100px #000;
}

.thermo {
  margin: 0 auto 20px;
  width: 260px;
}
