@import "variables";

/**************************************************************************
* ADMIN PAGES
**************************************************************************/
@import "header_footer";
@import "home";
@import "fundraising";
@import "team";
@import "profile";
@import "registration";

/**************************************************************************
* PUBLIC PAGES
**************************************************************************/
@import "fundraising_pages";
@import "totaliser";
@import "donate";
@import "search";
@import "cms_login";

/**************************************************************************
* PAGE ELEMENTS
**************************************************************************/

@font-face {
  font-family: 'Thorndale';
  src: url('../fonts/Thorndale.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Thorndale.woff') format('woff'),
       url('../fonts/Thorndale.ttf')  format('truetype'),
       url('../fonts/Thorndale.svg#Thorndale') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Thorndale-Bold';
  src: url('../fonts/Thorndale-Bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Thorndale-Bold.woff') format('woff'),
       url('../fonts/Thorndale-Bold.ttf')  format('truetype'),
       url('../fonts/Thorndale-Bold.svg#Thorndale-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
    display: none;

    &.e2st-active {
        display: block;
    }

}

body,
button,
input,
select,
textarea,
legend {
    font-size: 16px;
    line-height: 1.4;
    color: $dark-blue;
    font-family: "Open Sans", Arial, Helvetica;
}

button {
    color: #FFF;
}

body,
legend,
h3 {
    color: $dark-blue;
}

#frame {
    width: auto !important;
}

#main-container {
    max-width: 995px;
    width: auto;
    margin: 0 auto;
    overflow: visible;
}

#article-content-container {
    margin-bottom: 0;
    padding-bottom: 0;
}

#article-content .page-section {
    margin: 0 0 20px 0;
}

h2 {
    color: $dark-blue;
    font-size: 28px;
    text-transform: uppercase;
    font-family: $thorn-bold;
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 30px;
    line-height: 1;
}

h3 {
    font-size: 18px;
    font-family: $thorn-bold;
    font-weight: normal;
}

h4 {
    color: $dark-blue;
    font-size: 14px;
}

.sub-links li a,
a,
a:visited,
a.image-link,
a.image-link:visited {
    color: $red;
}
a:hover,
a.image-link:hover {
  color: #f45544;
}

p {
    margin: 0 0 1em 0;
}

textarea,
input[type=text],
input[type=email],
input[type=password],
select {
    border-radius: 0;
    border: 2px solid #e9e9e9;
    padding: 5px;
    background: #fcfcfc;
}

button,
input[type='submit'],
input[type='button'] {
    padding: 15px 30px;
    font-size: 18px;
    border-radius: 0;
    text-transform: uppercase;
    background: $dark-blue;
    color: #fff;

    &:hover {
        background: #f45544;
        color: #fff;
    }

    &[disabled] {
        opacity: 0.5;
    }

}

fieldset {
    padding: 0;
}

.req {
    margin: 0;
    color: $red;
}

td.header a {
  color: #fff;
}

#fundraising-navigation {
    background: #fff;
    margin-bottom: 30px;

    > div {
        background: none;

        &.current {
            background: #fff;

            > a {
                color: $red !important;
            }

        }

        > a {
            background: none !important;
            border: none !important;
            padding-left: 0 !important;
            text-shadow: none !important;
            font-family: "Open Sans", Arial, Helvetica !important;
            padding: 0 10px !important;
            display: block;
            color: $dark-blue !important;

            &:hover {
                color: $red !important;
            }

            .pictos {
                display: none;
            }

        }

        > .nav-sub-items {
            > a {
                background: #fff;
                border: none !important;
                font-family: "Open Sans", Arial, Helvetica !important;
                padding: 13px 10px 13px 30px !important;
                display: block;
                line-height: 1.2;
                color: $dark-blue !important;

                &.current,
                &:hover {
                    color: $red !important;
                    background: #fff !important;
                }

            }

        }

    }

}

#pre-nav {
    height: 30px;
}

#post-nav {
    height: 30px;
}

#article-content {
    padding-left: 25px;
    margin-left: 260px;
}

#aside-content {
    padding-bottom: 0;
    margin-bottom: 0;
    width: 240px;
}

#aside-content #aside-content-wrapper {
    padding: 0;
}

td.pieBlock1 {
    line-height: 1.4;
}

div[style="border: 1px solid #8DB1FF; border-top-style: none"] {
    border: 0 !important;
}

.actions {
    font-size: 12px;
    cursor: pointer;
}

/*****************************
* Login section
******************************/
#page-loginregister {

    #header-links > a {
        // display: none;
    }
    #login input[type=password] {
        float: none;
        width: auto;
    }
    #login input[type=text],
    #login input[type=password] {
        width: auto;
        margin-bottom: 1em;
        padding: 5px;
    }
    .help {
        font-size: 16px;
    }
    #aside-content {
        display: none;
    }
    #ctl00_ctl00_mainContent_cphLoginRegister_ucLogin_lblUserID,
    #ctl00_ctl00_mainContent_cphLoginRegister_ucLogin_lblPassword {
        float: none;
    }
    #register,
    #facebook-options {
        display: none;
    }
    #article-content {
        width: 825px;
        margin: 0 auto;
        padding: 0;
    }
    #welcome-container {
        td:first-of-type {
            width: 330px;
            vertical-align: top;
        }
        td#rightcolumn {
            width: 445px;
            vertical-align: top;
            padding-left: 70px;
        }
        .needHelp {
            width: auto;
            margin-top: 80px;
            float: none;
        }
    }
    .needHelp h3,
    #ctl00_ctl00_mainContent_bodyContentPlaceHolder_lblWelcomeContent h3 {
        font-size: 20px;
        margin-bottom: 1.5em;
    }
    #ctl00_ctl00_mainContent_bodyContentPlaceHolder_lblWelcomeContent h3 {
      margin-top: 40px;
    }
    .help {
        a {
            color: $dark-grey;
            font-size: 14px;
            &:hover {
              color: $red;
            }
        }
    }
    p.or {
        margin-top: 50px;
        position: relative;
        z-index: 1;
        text-align: center;
        margin-bottom: 30px;
        span {
            padding: 10px;
            background: #fff;
        }
        &:before {
            border-top: 4px solid #eceeef;
            content: "";
            margin: 0 auto;
            position: absolute;
            top: 10px;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            z-index: -1;
        }
    }
    .facebook-faux-button {
        display: block;
        text-align: center;
        background: #3B5998;
        color: #fff;
        text-transform: uppercase;
        border-radius: 0;
        padding: 15px 30px;
    }
    .sign-up {
        padding: 20px;
        border: 2px solid #eceeef;
        margin-top: 20px;
        h4 {
            margin: 0;
            font-size: 16px;
        }
        p {
            margin: 0;
        }
        .button {
            display: inline-block;
            float: right;
            background: $dark-blue;
            color: #fff;
            margin-left: 20px;
            padding: 20px 30px;
            text-transform: uppercase;
            border-radius: 0;
            &:hover {
              background: #f45544;
            }
        }
    }

    #login-list {
        padding: 0;
        margin: 0;

        li {
            list-style: none;
            margin: 0 0 20px 0;
            background-repeat: no-repeat;
            padding: 0 0 0 60px;
            background-size: 45px;
            min-height: 50px;

            &.login_1 {
                background-image: url(../img/login_1.png);
            }
            &.login_2 {
                background-image: url(../img/login_2.png);
            }
            &.login_3 {
                background-image: url(../img/login_3.png);
            }
            &.login_4 {
                background-image: url(../img/login_4.png);
            }
            &.login_5 {
                background-image: url(../img/login_5.png);
            }
        }
    }
}

#page-returningregistrantoption {
}

/*****************************
* Search section
******************************/
#page-search {
}

#page-donateconfirm {
}


#timeoutmodal-container {
    height: auto !important;
}

#simplemodal-data {
    margin: 20px 40px;
    h3 {
        font-size: 30px;
        margin-bottom: 10px;
    }
}

.simplemodal-close {
    width: 100%;
}

#devevent {
    position: fixed;
    background: $red;
    top: 0;
    padding: 2px 10px;
    color: #fff;
    opacity: 0.5;
    z-index: 5000;
}

// my profile - hide scoreboard opt in
#ctl00_ctl00_mainContent_bodyContentPlaceHolder_trScoreboardDisplayName,
#ctl00_ctl00_mainContent_bodyContentPlaceHolder_htmlTableRowScoreBoardCheckbox {
  display: none;
}
